.quantityControl {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 21%;
    width: 25%;
    height: fit-content;
    left: 49%;
}

.quantityControl button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBA01;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
}

.quantityControl button:hover {
    transform: translateY(-2px);
}

#btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header {
    font-weight: 600;
}



