@media (max-width: 455px) {

    .resultBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 25%;
        left: 20%;
        background-color: darkcyan;
        border: 3px solid black;
        width: 15rem;
        padding: .25rem;
    }
    
    
    
    
    #result {
        margin: 0;
        font-size: 3rem;
    }







}


